input:focus {
  box-shadow: none;
}

a {
  color: @text-color;
  text-decoration: none;
  outline: none;
}

a:active {
  outline: none;
}

object, embed { 
  outline: none;
}

*[contenteditable] {
  outline: none;
  
  &:focus, &:hover {
    outline: none;
  }
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

select.form-control {
  outline: none;
  box-shadow: none;
  
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  background-image: @arrow-image;
  background-position: 90% 50%;
  background-position: right 5px center;
  background-repeat: no-repeat;
  background-size: 12px;
  padding-right: @padding-base-horizontal + 10px;
}

select::-ms-expand {
  display: none;
}