input:focus {
  box-shadow: none;
}

a {
  color: @text-color;
  text-decoration: none;
  outline: none;
}

a:active {
  outline: none;
}

object, embed { 
  outline: none;
}

b, strong {
  font-weight: 600;
}

*[contenteditable] {
  outline: none;
  
  &:focus, &:hover {
    outline: none;
  }
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}