.media {
  position: relative;
  overflow: initial;
  padding: 0;
  line-height: 1.1em;
  
  /*a {
    &.btn.btn-default {
      color: @btn-default-color;
    }
    &.btn.btn-primary {
      color: @btn-primary-color;
    }
    &.btn.btn-info {
      color: @btn-info-color;
    }
    &.btn.btn-warning {
      color: @btn-warning-color;
    }
    &.btn.btn-danger {
      color: @btn-danger-color;
    }
  }*/
  
  .media-left {
    padding-right: 30px;
    
    img {
      display: block;
      max-width: 120px;
      height: auto;
    }
  }
  
  .media-heading {
    font-size: 1.1em;
    line-height: 1.2em;
    
    small {
      font-weight: normal;
      font-size: 0.9em;
      padding-left: 8px;
    }
  }
  
  .media-desc {
    margin-top: 9px;
    line-height: 1.5em;
  }
  
  .media-tags {
    margin-top: 9px;
    font-size: 1.1em;
    font-style: italic;
    color: @text-color-light;
  }
  
  &.media-sm {
    .media-left img {
      max-width: 40px;
      height: 40px;
    }
  }
  
  &.media-lg {
    .media-left img {
      max-width: 80px;
      height: 80px;
    }
  }
}

.media.media-profile {
  .media-left {
    padding-right: 15px;
    
    img {
      max-width: 40px;
      height: auto;
      
      padding: 0;
      margin: 0;
    }
  }
  
  .media-links {
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 0.9em;
    text-decoration: none;
  }
}

.media-badge {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 12px;
  left: -15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  
  background-color: @brand-secondary;
  color: @white;
  
  &.media-badge-lg {
    top: 6px;
    left: -18px;
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
  
  &.media-badge-default {
    background-color: @brand-default;
    color: @white;
  }
  
  &.media-badge-primary {
    background-color: @brand-primary;
    color: @white;
  }
  
  &.media-badge-info {
    background-color: @brand-info;
    color: @white;
  }
  
  &.media-badge-warning {
    background-color: @brand-warning;
    color: @white;
  }
  
  &.media-badge-danger {
    background-color: @brand-danger;
    color: @white;
  }
  
  &.media-badge-success {
    background-color: @brand-success;
    color: @white;
  }
  
  &.media-badge-system {
    background-color: @brand-system;
    color: @white;
  }
}

.media.media-splitted {
  padding: 13px 15px;
  border-bottom: 1px solid #efefef;
  margin-top: 0;
  cursor: pointer;
  
  &:hover {
    background-color: #f9f9f9;
  }
  
  &:last-child {
    //border-bottom: none;
  }
  
  .btn-round.btn-xs {
    padding: 3px 10px;
    border-width: 1px;
    font-size: 0.85em;
  }
  
  .media-left {
    vertical-align: middle;
    padding-right: 11px;
    border-right: 1px solid #efefef;
    color: #aaa;
    font-size: 1.1em;
    box-shadow: inset -7px 0 8px -7px fade(@border-color, 50%);
  }
  
  .media-body {
    font-size: 0.9em;
    padding-left: 15px;
    margin-bottom: 0;
    color: #545454;
    vertical-align: middle;
    
    .media-heading {
      font-weight: bold;
      margin-bottom: 3px;
    }
  }
  
  .media-right {
    min-width: 80px;
    text-align: right;
    vertical-align: middle;
  }
}